/* paragraph and text settings */
    @import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Special+Gothic+Expanded+One&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
    * { color: var(--text-color); }
    a { font-family: 'Fira Sans', sans-serif; }
    h1 { font-family: 'Special Gothic Expanded One', sans-serif; }
    h2 { font-family: 'Special Gothic Expanded One', sans-serif; }
    h3 { font-family: 'Special Gothic Expanded One', sans-serif; }
    h4 { font-family: 'Special Gothic Expanded One', sans-serif; }
    .subsection-header { margin-bottom: -0.8em; }
    .title { text-align: center; }
    .title > img { 
        max-width: 20em;
        filter: var(--png-shadow);
        display: block;
        margin: 1em auto 0 auto;
    }
    .status-now { font-size: 110%; }
    .blog-title { margin-bottom: -0.4em; }
    .blog-title > p { display: inline; }
    .headerfont { font-family: 'Special Gothic Expanded One', sans-serif; }
    p { font-family: 'Fira Sans', sans-serif; }
    ul { font-family: 'Fira Sans', sans-serif; }
    li { margin-bottom: 5px; }
    button { font-family: 'Special Gothic Expanded One', sans-serif; }
    code { font-family: 'JetBrains Mono', monospace; }
    hr { border: 2px var(--text-color) dotted; }
/**/

:root {
    --box-background: linear-gradient(white, white, rgba(200, 200, 200, 1));
    --box-background-code: linear-gradient(white, rgb(148, 230, 148));
    --box-shadow: 0 0 10px black;
    --png-shadow: drop-shadow(0 0 6px black);
    --body-background: white;
    --text-color: black;
    --text-color-inverted: white;
    --orange: rgb(255, 72, 0);
}

.dark {
    --box-background: linear-gradient(rgba(55, 55, 55, 1), black, black);
    --box-background-code: linear-gradient(black, rgb(35, 53, 35));
    --box-shadow: 0 0 10px black;
    --png-shadow: drop-shadow(0 0 6px black);
    --body-background: rgb(20, 20, 20);
    --text-color: white;
    --text-color-inverted: black;
    --orange: rgb(255, 72, 0);
}

/* scrollbar for Chromium/WebKit-based browsers on certain elements */
    ::-webkit-scrollbar {
        height: 5px;
        width: 5px;
    }

    ::-webkit-scrollbar-button {
        opacity: 0;
    }

    ::-webkit-scrollbar-track {
        opacity: 0;
    }

    ::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 15px;
    }

    ::-webkit-scrollbar-corner {
        opacity: 0;
    }
/**/

/* navigator */
    #navigator {
        position: sticky;
        left: 0;
        top: 0;
        background: black;
        box-shadow: var(--box-shadow);
        width: 100vw;
        height: 2em;
        z-index: 1;
    }

    #navigatorMenu {
        background: black;
        box-shadow: var(--box-shadow);
        text-align: center;
        max-width: 30em;
        position: fixed;
        top: 2em;
        left: calc(50vw - 15em);
        right: calc(50vw - 15em);
        opacity: 0;
        animation: animFadeIn 0.2s ease-in-out;
        border-radius: 0 0 15px 15px;
        padding: 1em;
        z-index: 1;
    }

    #navigatorMenuIcon {
        position: absolute;
        left: calc(50% - 1em);
        right: calc(50% - 1em);
        top: 0;
        width: 2em;
        height: 2em;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: black;
        transition: filter 0.3s;
    }

    #navigatorMenuIcon:hover {
        filter: invert(100%);
    }

    #navigatorMenuIcon > img {
        width: 1.5em;
        height: 1.5em;
    }

    #navigatorMenuThemeButtons > button {
        border-radius: 15px;
        color: white;
        outline: 2px white solid;
        margin: 0 2px 0 2px;
        background: black;
    }

    #navigatorMenu > p, #navigatorMenu > h1 {
        color: white;
    }

    .navigator-links {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2em;
    }

    .navigator-links > a {
        color: white !important;
        margin: 4px;
        transition: color 0.3s, letter-spacing 0.3s;
    }

    .navigator-links > a:hover {
        color: var(--orange) !important;
        cursor: pointer;
    }
/**/

/* page layout */
    body {
        margin: 0;
        padding: 0;
        background-image: conic-gradient(
            at 50% 0%,
            var(--orange),
            var(--orange),
            var(--orange),
            var(--body-background),
            var(--body-background),
            var(--orange),
            var(--orange),
            var(--orange)
        );
        background-size: cover;
        min-height: 100vh;
    }

    .page-container {
        max-width: 40em;
        margin: 0 auto 0 auto;
        padding: 1em;
    }

    .blog-post-latest {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1em;
        padding: 8px;
    }

    .blog-post-latest > div {
        background-image: var(--box-background);
        box-shadow: var(--box-shadow);
        border-radius: 15px;
        overflow: hidden;
        cursor: pointer;
        transition: box-shadow 0.5s;
    }

    .blog-post-latest > div:hover {
        box-shadow: 0 0 10px var(--orange);
    }

    .blog-post-latest > div > img {
        width: 100%;
        border-radius: 15px 15px 0 0;
        display: block;
    }

    .blog-post-latest > div > h2 {
        margin: 0.25em 10px -0.8em  10px;
    }

    .blog-post-latest > div > p {
        margin: 0 10px 1em 10px;
    }

    .blog-post-latest > div > h2 > p {
        display: inline;
    }

    .blog-posts-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1em;
        padding: 8px;
    }

    .blog-posts-grid > div {
        background-image: var(--box-background);
        box-shadow: var(--box-shadow);
        border-radius: 15px;
        overflow: hidden;
        cursor: pointer;
        transition: box-shadow 0.5s;
    }

    .blog-posts-grid > div:hover {
        box-shadow: 0 0 10px var(--orange);
    }

    .blog-posts-grid > div > img {
        width: 100%;
        border-radius: 15px 15px 0 0;
        display: block;
    }

    .blog-posts-grid > div > h2 {
        margin: 0.25em 10px -0.8em  10px;
    }

    .blog-posts-grid > div > p {
        margin: 0 10px 1em 10px;
    }

    .blog-posts-grid > div > h2 > p {
        display: inline;
    }

    .blog-posts-image {
        width: 100%;
        border-radius: 15px;
        box-shadow: var(--box-shadow);
        margin-bottom: 1em;
    }

    .blog-posts-ToC {
        width: calc(100% - 2em);
        border-radius: 15px;
        background-image: var(--box-background);
        box-shadow: var(--box-shadow);
        padding: 1em;
        margin-bottom: 1em;
    }

    .blog-posts-ToC > button {
        border: none;
        background: none;
        color: var(--orange);
        text-decoration: none;
        transition: letter-spacing 0.5s, font-weight 0.5s, color 0.5s;
    }

    .blog-posts-ToC > button:hover {
        color: rgb(0, 72, 255);
        font-weight: bold;
        text-decoration: none;
        letter-spacing: 1px;
    }

    .blog-content > img {
        border-radius: 15px;
        box-shadow: var(--box-shadow);
        margin: 1em;
        max-width: 80%;
    }

    .changelog {
        width: 80%;
        max-height: 70vh;
        border-radius: 15px;
        box-shadow: var(--box-shadow);
        background-image: var(--box-background);
        overflow: scroll;
        padding: 1em;
        margin: 1em;
    }

    .code-block {
        width: 80%;
        max-height: 30em;
        border-radius: 15px;
        box-shadow: var(--box-shadow);
        background-image: var(--box-background-code);
        overflow: scroll;
        padding: 1em;
        margin: 1em;
    }

    .code-block > pre > code {
        scrollbar-width: 8px;
        scrollbar-color: var(--orange);
    }
/**/

/* page transition */
    body {
        opacity: 0;
        pointer-events: none;
        transition: opacity 300ms ease;
    }

    body.ready {
        opacity: 1;
        pointer-events: auto;
    }
/**/

/* link */
    a:link {
        color: var(--orange);
        text-decoration: none;
        transition: letter-spacing 0.5s, font-weight 0.5s, color 0.5s;
    }

    a:visited {
        color: var(--orange);
        text-decoration: none;
        transition: letter-spacing 0.5s, font-weight 0.5s, color 0.5s;
    }

    a:hover {
        color: rgb(0, 72, 255);
        font-weight: bold;
        text-decoration: none;
        letter-spacing: 1px;
    }

    a:active {
        color: rgb(0, 72, 255);
        font-weight: bolder;
        text-decoration: none;
    }
/**/

/* anim */
    @keyframes animFadeIn {
        from { opacity: 0; }
        to { opacity: 1; }
    }

    @keyframes animFadeOut {
        from { opacity: 1; }
        to { opacity: 0; }
    }
/**/

/* mobile */
    @media (orientation: portrait) {
        #navigatorMenu {
            max-width: 100vw;
            left: 0;
            right: 0;
            word-wrap: break-word;
        }
        #navigator {
            height: 3em;
        }
        #navigatorMenuIcon {
            width: 3em;
            height: 3em;
        }
        #navigatorMenuIcon > img {
            width: 2em;
            height: 2em;
        }
        .navigator-links {
            height: 3em;
        }
    }
/**/
