/* paragraph and text settings */
    @import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
    * { color: var(--text-color); }
    a { font-family: "Ubuntu", sans-serif; }
    h1, h2, h3, h4 { 
        font-family: "DynaPuff", system-ui;
    }
    .subsection-header { margin-bottom: -0.8em; }
    .title { text-align: center; }
    .title > img { 
        max-width: 20em;
        display: block;
        margin: 1em auto 0 auto;
    }
    .status-now { font-size: 110%; }
    .blog-title { margin-bottom: -0.4em; }
    .blog-title > p { display: inline; }
    .headerfont { font-family: "DynaPuff", system-ui; }
    p, ul { font-family: "Ubuntu", sans-serif; }
    li { margin-bottom: 5px; }
    button { font-family: "Ubuntu", system-ui; }
    code { font-family: 'JetBrains Mono', monospace; }
    hr { border: 2px var(--text-color) dotted; }
/**/

:root {
    --orange: rgb(255, 72, 0);
    --box-background-code: black;
    --text-color-code: white;
    --blog-post-hover-outline: 0.5em solid var(--orange);
    --body-background: rgb(25, 25, 25);
    --page-background: rgba(30, 30, 30, 1);
    --box-background: rgba(55, 55, 55, 1);
    --img-background: var(--box-background);
    --banner-background: var(--orange);
    --footer-background: rgb(20, 20, 20);
    --navigator-background: rgb(18, 18, 18);
    --content-background: rgb(40, 40, 40);
    --navigator-text-color: white;
    --text-color: white;
}

/* navigator */
    #navigator {
        position: sticky;
        left: 0;
        top: 0;
        background: var(--navigator-background);
        width: 100vw;
        height: 3em;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #navigator > p > a {
        transition: color 0.3s;
        color: var(--navigator-text-color);
    }

    #navigator > p > a:hover {
        color: var(--orange);
        cursor: pointer;
    }
/**/

/* banner */
    #banner {
        max-width: 100%;
        margin: 0;
        padding: 0;
        background-color: var(--banner-background);
        display: flex;
        justify-content: center;
        overflow: hidden;
    }
    #banner > img {
        max-width: 70em;
        outline: 16em solid rgba(255, 255, 255, 0.5);
    }
/**/

/* footer */
    #footer {
        max-width: 100%;
        margin: 0;
        padding: 1em;
        background: var(--footer-background);
        text-align: center;
    }
/**/

/* page layout */
    body {
        margin: 0;
        padding: 0;
        background: var(--body-background);
        background-size: cover;
        min-height: 100vh;
    }

    .page-container {
        max-width: 60em;
        margin: 0 auto 0 auto;
        padding: 1em;
        background-color: var(--page-background);
    }

    .content-container {
        max-width: 100%;
        padding: 1em;
        background-color: var(--content-background);
        margin-top: 1em;
        border-radius: 15px;
    }

    .content-container-first {
        margin-top: 0;
    }

    .blog-post-latest {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1em;
        padding: 8px;
    }

    .blog-post-latest > div {
        background-color: var(--box-background);
        border-radius: 15px;
        overflow: hidden;
        cursor: pointer;
        outline: 0px solid rgba(255, 255, 255, 0);
        transition: outline 0.5s;
    }

    .blog-post-latest > div:hover {
        outline: var(--blog-post-hover-outline);
    }

    .blog-post-latest > div > img {
        width: 100%;
        border-radius: 15px 15px 0 0;
        display: block;
    }

    .blog-post-latest > div > h2 {
        margin: 0.25em 10px -0.8em  10px;
    }

    .blog-post-latest > div > p {
        margin: 0 10px 1em 10px;
    }

    .blog-post-latest > div > h2 > p {
        display: inline;
    }

    .blog-posts-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
        padding: 8px;
    }

    .blog-posts-grid > div {
        background-color: var(--box-background);
        border-radius: 15px;
        overflow: hidden;
        cursor: pointer;
        outline: 0px solid rgba(255, 255, 255, 0);
        transition: transform 300ms, outline 500ms;
        will-change: transform;
    }

    .blog-posts-grid > div:hover {
        outline: var(--blog-post-hover-outline);
        transform: translateY(-1em);
    }

    .blog-posts-grid > div > img {
        width: 100%;
        border-radius: 15px 15px 0 0;
        display: block;
    }

    .blog-posts-grid > div > h2 {
        margin: 0.25em 10px -0.8em  10px;
    }

    .blog-posts-grid > div > p {
        margin: 0 10px 1em 10px;
    }

    .blog-posts-grid > div > h2 > p {
        display: inline;
    }

    .blog-posts-image {
        max-width: 100%;
        border-radius: 15px;
    }

    .blog-posts-ToC > button {
        border: none;
        background: none;
        color: var(--orange);
        text-decoration: none;
        transition: letter-spacing 0.5s, font-weight 0.5s, color 0.5s;
    }

    .blog-posts-ToC > button:hover {
        color: rgb(0, 72, 255);
        font-weight: bold;
        text-decoration: none;
        letter-spacing: 1px;
    }

    .blog-content > img {
        border-radius: 15px;
        margin: 1em;
        max-width: 80%;
        background-color: var(--img-background);
    }

    .changelog {
        width: 80%;
        max-height: 70vh;
        border-radius: 15px;
        background-color: var(--box-background);
        overflow: scroll;
        padding: 1em;
        margin: 1em;
    }

    .code-block {
        width: 80%;
        max-height: 30em;
        border-radius: 15px;
        background-color: var(--box-background-code);
        overflow: scroll;
        padding: 1em;
        margin: 1em;
    }

    .project-img {
        border-radius: 15px;
        margin: 1em;
        max-width: 80%;
        background: var(--img-background);
    }
/**/

/* page transition */
    body {
        opacity: 0;
        pointer-events: none;
        transition: opacity 700ms ease;
    }

    body.ready {
        opacity: 1;
        pointer-events: auto;
    }
/**/

/* link */
    a:link {
        color: var(--orange);
        text-decoration: none;
        transition: color 0.5s;
    }

    a:visited {
        color: var(--orange);
        text-decoration: none;
        transition: color 0.5s;
    }

    a:hover {
        color: rgb(53, 110, 255);
        text-decoration: none;
    }

    a:active {
        color: rgb(53, 110, 255);
        text-decoration: none;
    }
/**/

/* anim */
    @keyframes animFadeIn {
        from { opacity: 0; }
        to { opacity: 1; }
    }

    @keyframes animFadeOut {
        from { opacity: 1; }
        to { opacity: 0; }
    }
/**/

/* mobile */
    @media (orientation: portrait) {
        .blog-posts-grid {
            grid-template-columns: 1fr;
        }
        .blog-posts-grid > div {
            transition: outline 500ms;
        }
        .blog-posts-grid > div:hover {
            outline: var(--blog-post-hover-outline);
            transform: none;
        }
    }
    @media screen and (width <= 70em) {
        #banner > img {
            max-width: 100%
        }
    }
/**/
