<!DOCTYPE html>
---
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Screen from '../components/Screen.astro';
---

<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>xleepree</title>
		<link rel="stylesheet" href="/global.css">
		<link rel="icon" href="/favicon.png">
		<script src="/src/scripts/global.js" defer is:inline></script>
	</head>

	<body>
		<Screen />
		<main>
			<Hero />
		</main>
		<Navbar />
	</body>
</html>