/* font */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

* {
    font-family: "Roboto Slab", serif;
}

/* theme stuff */

    :root {
        --bg-type: url(../images/background.png);
        --text-color: black;
        --text-blur: 0 0 15px rgba(255, 255, 255, 1), 
        0 0 20px rgba(255, 255, 255, 1), 
        0 0 25px rgba(255, 255, 255, 1);
        --container-blur: blur(15px);
        --container-shadow: 2px 2px 7px black;
        --border-color: 2px black;
        --nav-gradient: linear-gradient(rgb(199, 199, 199), white);
        --scrollbar-thumb-color: linear-gradient(white, rgb(165, 165, 165));
        --container-bg: none;
    }

    .lightTheme {
        --bg-type: linear-gradient(white, rgb(165, 165, 165));
        --text-color: black;
        --text-blur: none;
        --container-blur: none;
        --container-shadow: 2px 2px 7px black;
        --border-color: 2px black;
        --nav-gradient: linear-gradient(rgb(199, 199, 199), white);
        --scrollbar-thumb-color: linear-gradient(white, rgb(165, 165, 165));
        --container-bg: linear-gradient(white, rgb(165, 165, 165));
    }

    .darkTheme {
        --bg-type: linear-gradient(rgb(90, 90, 90), black);
        --text-color: white;
        --text-blur: none;
        --container-blur: none;
        --container-shadow: 2px 2px 7px white;
        --border-color: 2px white;
        --nav-gradient: linear-gradient(rgb(56, 56, 56), black);
        --scrollbar-thumb-color: linear-gradient(black, rgb(90, 90, 90));
        --container-bg: linear-gradient(rgb(90, 90, 90), black);
    }

/* divs */

    .nav {
        border: 4px rgb(255, 130, 46) solid;
        padding: 1em;
        margin: 0 auto 1em auto;
        max-width: 60em;
        text-align: center;
        background-image: var(--nav-gradient);
        box-shadow: var(--container-shadow);
    }

    .gridTemplate {
        border: var(--border-color) dashed;
        display: grid;
        grid-template-columns: auto;
        max-width: 60em;
        margin: 0 auto 1em auto;
        gap: 1em;
        padding: 1em;
    }

    .gridTemplate > div {
        border: var(--border-color) solid;
        padding: 1em;
        margin: 0 auto 1em auto;
        box-shadow: var(--container-shadow);
        backdrop-filter: var(--container-blur);
        -webkit-backdrop-filter: var(--container-blur);
        color: var(--text-color);
        background-image: var(--container-bg);
    }

    .mainContainer {
        border: var(--border-color) solid;
        max-width: 60em;
        margin: 0 auto 1em auto;
        padding: 1em;
        backdrop-filter: var(--container-blur);
        box-shadow: var(--container-shadow);
        -webkit-backdrop-filter: var(--container-blur);
        color: var(--text-color);
        background-image: var(--container-bg);
    }

    .scrollableContainer {
        overflow-x: hidden;
        overflow-y: auto;
        border: var(--border-color) solid;
        max-width: 60em;
        margin: 0 auto 1em auto;
        padding: 1em;
        height: 20em;
        box-shadow: var(--container-shadow);
        backdrop-filter: var(--container-blur);
        -webkit-backdrop-filter: var(--container-blur);
        color: var(--text-color);
        background-image: var(--container-bg);
    }
    
    /* ToC */
    
        .tableOfContents {
            border: var(--border-color) solid;
            padding: 1em;
            color: var(--text-color);
            background-image: var(--nav-gradient);
            max-width: 60em;
            margin: 0 auto 1em auto;
            box-shadow: var(--container-shadow);
            overflow: hidden;
            max-height: 3em;
            transition: max-height 1s ease-in-out;
        }

        .tableOfContents > ul {
            line-height: 1.01;
            list-style-type: none;
        }

        .tableOfContents:focus {
            max-height: 300em;
        }

    .galleryContainer {
        border: 2px rgb(0, 109, 58) solid;
        background-color: rgb(183, 255, 173);
        max-width: 60em;
        margin: 0 auto 1em auto;
        padding: 1em;
        box-shadow: var(--container-shadow);
    }

    .legacyContainer {
        border-radius: 15px;
        box-shadow: var(--container-shadow);
        padding: 1em;
        margin: 0 auto 1em auto;
        max-width: 60em;
        background-image: var(--bg-type);
    }

    .legacyContainer, .legacyContainer * {
        font-family: "JetBrains Mono", monospace !important;
    }

    .codeContainer {
        border: var(--border-color) solid;
        max-width: 60em;
        margin: 0 auto 1em auto;
        padding: 1em;
        background-image: linear-gradient(darkslategrey, black);
        color: white;
        box-shadow: var(--container-shadow);
        overflow-x: auto;
        overflow-y: hidden;
    }

    .codeContainer, .codeContainer * {
        font-family: "JetBrains Mono", monospace !important;
    }

    .footer {
        border: var(--border-color) solid;
        max-width: 45em;
        margin: 0 auto 1em auto;
        padding: 1em;
        text-align: center;
        box-shadow: var(--container-shadow);
        backdrop-filter: var(--container-blur);
        -webkit-backdrop-filter: var(--container-blur);
        color: var(--text-color);
        background-image: var(--container-bg);
    }


/* image */

    .bannerContainer { /* for centering */
        margin: 0 auto 1em auto;
        width: 100%;
        text-align: center;
    }

    .banner {
        border: var(--border-color) solid;
        max-width: 62.25em;
        width: 100%;
        box-shadow: var(--container-shadow);
    }

    .indicatorImage {
        width: 7em;
    }

    .galleryContainer > img {
        width: 5em;
        margin: 2px;
    }

    .blogImage {
        max-width: 100%;
        height: auto;
        margin: 0 auto 1em auto;
        border: var(--border-color) solid;
        box-shadow: var(--container-shadow);
    }

/* links, buttons, etc */

    a:link {
        color: rgb(255, 60, 0);
        text-decoration: none;
        transition: letter-spacing 0.5s;
    }

    a:visited {
        color: rgb(255, 60, 0);
        text-decoration: none;
    }

    a:hover {
        color: rgb(255, 114, 49);
        font-weight: bold;
        text-decoration: underline;
        letter-spacing: 1.5px;
    }

    a:active {
        color: rgb(255, 114, 49);
        font-weight: bolder;
        text-decoration: none;
    }

    button {
        border-color: var(--border-color);
        color: var(--text-color);
        background-image: var(--bg-type);
        border-radius: 15px;
        transition: border-radius 0.5s;
    }

    button:hover {
        border-radius: 5px;
    }

/* scrollbar */

::-webkit-scrollbar {
    height: 8px;
}

::-webkit-scrollbar-track {
    background: linear-gradient(rgb(255, 121, 12), rgb(255, 58, 23));
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color);
}

/* misc */

    body {
        padding: 0.5em;
        animation: fadeIn 1s ease-in;
        background-image: var(--bg-type);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        
        margin: 0;
        text-shadow: var(--text-blur);

        /* compatibility */

            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            -ms-background-size: cover;
            background-attachment: fixed;
        
            -webkit-text-shadow: 0 0 15px rgba(255, 255, 255, 1), 
            0 0 20px rgba(255, 255, 255, 1), 
            0 0 25px rgba(255, 255, 255, 1);
            min-height: 100vh;
    }

    body::before { /* more compatibility */
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: var(--bg-type) no-repeat center center;
        background-size: cover;
        z-index: -1;
    }

/* animations */

    @keyframes fadeIn {
        from { opacity: 0; }
        to { opacity: 1; }
    }