<div id="pageBody">
    <div id="pageBodySectionA">
        <img src="/images/blog.png">
    </div>
    <div class="page-body-section-B">
        <span class="title">
            <h1>blog</h1>
            <p><i>I say things, like why Windows needs to burn in a fiery pit</i></p>
        </span>
        <hr>
        <div class="blog-posts-grid">
            <div onclick="loadPage('clippu', '/blog')">
                <img src="/images/blog/clippu.png">
                <h2>why i changed my profile picture to a clippy <p><small>8-17-2025</small></p></h2>
                <br>
                <p>You should too.</p>
            </div>

            <div onclick="loadPage('microsoft', '/blog')">
                <img src="/images/blog/microsoft.png">
                <h2>microsoft <p><small>5-10-2025</small></p></h2>
                <br>
                <p>a cursed blessing</p>
            </div>

            <div onclick="loadPage('ai-ethics', '/blog')">
                <img src="/images/blog/ai-ethics.png">
                <h2>ai ethics <p><small>4-21-2025</small></p></h2>
                <br>
                <p>my professional opinion on ai ethics</p>
            </div>

            <div onclick="loadPage('automatic-loading', '/blog')">
                <img src="/images/blog/automatic-loading.png">
                <h2>Automatic loading: <s>no</s> yes. <p><small>3-29-25</small></p></h2>
                <br>
                <p>i'm <s>not</s> adding automatic loading to my website <s>anymore</s>...
                This blog post is not worth your time.</p>
            </div>

            <div onclick="loadPage('website-tutorial', '/blog')">
                <img src="/images/blog/website-tutorial.png">
                <h2>how can YOU make a website? <p><small>2-1-2025</small></p></h2>
                <br>
                <p>check out my guide</p>
            </div>

            <div onclick="loadPage('ideas', '/blog')">
                <img src="/images/blog/ideas.png">
                <h2>i need ideas <p><small>1-17-2025</small></p></h2>
                <br>
                <p>i don't know what to add to my website</p>
            </div>

            <div onclick="loadPage('2025', '/blog')">
                <img src="/images/blog/2025.png">
                <h2>2025 <p><small>1-1-2025</small></p></h2>
                <br>
                <p>it's a new year</p>
            </div>

            <div onclick="loadPage('merry-chisrmanris', '/blog')">
                <img src="/images/blog/merry-chisrmanris.png">
                <h2>merry chisrmanris <p><small>12-25-2024</small></p></h2>
                <br>
                <p>it's chisrmanris day</p>
            </div>

            <div onclick="loadPage('feliz-navidad', '/blog')">
                <img src="/images/blog/feliz-navidad.png">
                <h2>feliz navidad <p><small>12-3-2024</small></p></h2>
                <br>
                <p>santa claus is comin' to town</p>
            </div>

            <div onclick="loadPage('omg-theres-a-blog-now', '/blog')">
                <img src="/images/blog/omg-theres-a-blog-now.png">
                <h2>oh my god guys there's a blog now <p><small>11-27-2024</small></p></h2>
                <br>
                <p>the blog is here now</p>
            </div>
        </div>

        <br>
        <br>
        <br>
        <br>
    </div>
</div>