<div class="navbar">
    <button onclick="loadPage('hero', '')">home</button>
    <button onclick="loadPage('about', '')">about</button>
    <button onclick="loadPage('blog', '')">blog</button>
    <button onclick="loadPage('projects', '')">projects</button>
</div>