<div id="pageBody">
    <div id="pageBodySectionA">
        <img src="/images/projects.png">
    </div>
    <div class="page-body-section-B">
        <span class="title">
            <h1>projects</h1>
            <p><i>The things that I do when I'm not at school</i></p>
        </span>
        <hr>
        <article>
            <h2 class="subsection-header">this website</h2>
            <p>Self-explanatory...</p>
        </article>

        <article>
            <h2 class="subsection-header"><span style="font-family: Arial, Helvetica, sans-serif;">number clicker</span> v.1.0.0</h2>
            <p>number clicker is a Cookie Clicker type game where you click a box and a number goes up. It's
            not that fun to me, but neither is Cookie Clicker either. I started it in early 2025 for fun.<br>
            The next major update is v.1.0.0. It will come out September-October 2025.</p>
        </article>

        <article>
            <h2 class="subsection-header"><a href="https://roblox.com/games/11412644695/cool-sandbox-game">cool sandbox game</a></h2>
            <p>cool sandbox game is a Roblox sandbox physics game that me and <a href="https://taxevaiden.pages.dev">taxevaiden</a>
            worked on in 2024. I did soundtrack and building while taxevaiden did all of the scripting and related things.<br>
            And then we stopped working on it. Later on taxevaiden started to work on a 2D version made in C# that was discontinued.
            Now we are working on it again. He just has to do the pick up system and then I can start working on it with him. That is
            what he told me.</p>
        </article>

        <article>
            <h2 class="subsection-header">Revenge is a Dish Best Served with a Side of Gunfire</h2>
            <p>My "novel." Let's hope this doesn't go south.</p>
        </article>

        <br>
        <br>
        <br>
        <br>
    </div>
</div>