<button id="screenButton" onclick="screenF()"><b> > </b></button>
<div id="screen">
    <img src="/favicon.png" class="screen-icon">
    <h1 style="margin-bottom: -0.5em;">xleepree.pages.dev</h1>
    <p style="margin-bottom: -0.1em;">version 3.0.0 :: est. Nov 3, 2024 :: hosted with Cloudflare</p>
    <div><a href="mailto:xleepree.pages.mail@gmail.com">contact</a> // <a href="https://github.com/Xleepree/xleepree-webtite">repository</a></div>
    <div class="theme-switcher">
        <p>
            theme:
            <button onclick="setTheme('')">light</button>
            <button onclick="setTheme('dark')">dark</button>
        </p>
    </div>
</div>