<div id="pageBody">
    <div id="pageBodySectionA">
        <div class="blog-posts-ToC">
            <h2>table of contents</h2>

            <button onclick="loadPage('blog', '')">back >></button>
            <p>
                <b>why</b><br>
                <b>change <i>your</i> profile picture</b><br>
                <b>conclusion</b>
            </p>
        </div>
    </div>
    <div class="page-body-section-B">
        <h1 class="blog-title">why i changed my profile picture to a clippy <p><small>8-17-2025</small></p></h1>
        <p>You should too.</p>
        <img class="blog-posts-image" src="/images/blog/clippu.png">
        <hr>
        <span class="blog-content">
            <p>
                I tend to change my profile picture a lot. I get an antsy feeling or I'm bored. Or some flaw in my profile picture makes me tick.<br>
                I've gone through eight generations of profile picture in one year. Doesn't seem <i>that</i> bad to me, but I don't know who else changes
                their profile picture as often.<br>
                <br>
                The last two profile pictures I've had have a new character, cubeman. Or dorito head guy depending on who you are. I made him in school.<br>
                <br>
                It is not replacing the actual character of me. But it's easier to draw so I have been using it everywhere. You can still find
                me in places like the about page, but other than that I think cubeman is easier for me to draw everywhere.<br>
                <br>
                And now, my newest profile picture. Better than ever, hopefully.<br>
                <br>
                A Clippy. Cubeman holding a Clippy.
            </p>
            <img src="/images/blog/content/clippu/1.png">
            <p>
                Usually my profile picture is just me or cubeman. But now there is a Clippy.
            </p>

            <h2>why</h2>
            <a href="https://youtu.be/2_Dtmpe9qaQ?si=dLqFNtls5V6AzbsS">See this, please.</a>
            <p>
                Because I disagree with all of the horrible buisiness practices in <i>Big Tech</i>.<br>
                This is now my profile picture now because I want to help spread awareness of these
                shady things that tech companies do.<br>
                This is part of a movement, kind of. There are tons of people
                now changing their profile picture to a Clippy or something with a Clippy for these
                reasons.<br>
                <br>
                Clippy was just there to help. Even if it was a nuisance, Clippy wouldn't mine and sell
                your personal data to advertisers. It wouldn't try to build a profile on you. You could
                tell him anything, and it would not try to use or sell that data.<br>
                <br>
                So maybe some big people will see thousands of Clippies and they will wonder, "why?"<br>
                I am going to help with that. That's it!
            </p>

            <h2>change <i>your</i> profile picture</h2>
            <p>
                You should change your profile picture if you agree with me.<br>
                I was able to merge Clippy with my own profile picture. Try to do that. 
                Or just replace it if you don't care.<br>
            </p>
            <img src="/images/blog/content/clippu/2.png">
            <p>
                You can make the chance that we don't live in a tech dystopia in the next few decades
                higher by making your profile picture a Clippy. I encourage you to do so. Please.
            </p>

            <h2>conclusion</h2>
            <p><i>Big Tech</i> sucks. Say no by making your profile picture a Clippy!</p>

            <br>
            <br>
            <br>
            <br>
        </span>
    </div>
</div>