<div id="pageBody">
    <div id="pageBodySectionA">
        <div class="blog-posts-ToC">
            <h2>table of contents</h2>

            <button onclick="loadPage('blog', '')">back >></button>
            <p>
                <h1 style="opacity: 40%;">No contents to table. I'm serious. What is wrong with me</h1>
            </p>
        </div>
    </div>
    <div class="page-body-section-B">
        <h1 class="blog-title">oh my god guys there's a blog now <p><small>11-27-2024</small></p></h1>
        <p>the blog is here now</p>
        <img class="blog-posts-image" src="/images/blog/omg-theres-a-blog-now.png">
        <hr>
        <span class="blog-content">
            <p>so uh yeah the blog exists now<br>
            i don't know how to do a comment box<br>
            Note from xleepree (8-17-2025): <i>This could've been in the changelog instead of a blog post... and I 
            still don't know how to do a comment box several months later.</i></p>

            <br>
            <br>
            <br>
            <br>
        </span>
    </div>
</div>